.artist-card {
    &:hover {
        scale: 1.1;
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 18px;
    }

    &__promo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        text-transform: none;
    }

    &__followers {
        text-align: center;
    }
}