@use '../media' as *;

.artist {
    padding-block: 200px;
    color: var(--color-light);
    background-image: url('../images/Morten Harket.png');
    background-position: center;
    background-size: cover;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 16px;
    }

    &__navigation {
        display: flex;
        column-gap: 24px;
        margin-top: 32px;

        @include mobile {
            flex-direction: column;
            row-gap: 24px;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        column-gap: 16px;
        font-size: 12.8px;
        width: 200px;
        padding-inline: 31px;

        svg {
            width: 20px;
            height: 20px;
            fill: currentColor;
        }
    }
}