.button {
    width: 100%;
    padding: 21px;
    text-transform: uppercase;
    color: currentcolor;
    border: 0;
    border-radius: 5px;

    &:hover {
        background-color: var(--color-orange);
    }

    &--play {
        background-color: var(--color-purple);
    }

    &--to-favourite {
        background-color: var(--color-red);
    }
}