.button {
    width: 100%;
    padding: 21px;
    text-transform: uppercase;
    color: currentColor;
    border: 0;
    border-radius: 5px;

    &:hover {
        background-color: var(--color-orange);
    }
}