@use '../media' as *;

.footer {
    background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

    &__inner {
        --gridColumns: 4;

        display: grid;
        grid-template-columns: repeat(var(--gridColumns), 1fr);
        column-gap: 40px;
        padding-block: 61px 74px;

        @include tablet {
            --gridColumns: 2;
            row-gap: 31px;
        }

        @include mobile {
            --gridColumns: 1;
            padding-block: 62px 66px;
        }
    }
    
    &__title {
        font-size: 18px;
        margin-bottom: 15px;
    }

    &__about-us {
        display: flex;
        flex-direction: column;
    }

     &__support {
        display: flex;
        flex-direction: column;
    }

     &__contacts {
        display: flex;
        flex-direction: column;

        address {
            font-style: normal;
        }
    }

    &__soc1al-list {
        display: flex;
        align-items: center;
        column-gap: 24px;
        padding-top: 5px;
    }

    &__link {
        &:hover {
            color: var(--color-orange);
        }
    }

    &-extra {
        border-top: 1px solid var(--color-gray-dark);

        &__inner {
            display: flex;
            align-items: center;
            column-gap: 16px;
            padding-block: 2.6rem 2.9rem;

            @include mobile {
                flex-direction: column;
                align-items: start;
                row-gap: 16px;
                padding-top: 40px;
            }
        }

        &__link {
            &:hover {
                color: var(--color-orange);
            }
        }
    }
}