@use '../media' as *;

.grid {
    --grid-columns: 1;

    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    gap: 25px 50px;

    @for $i from 2 through 12 {
        &--#{$i} {
            --grid-columns: #{$i};
        }
    }

    &--2 {
        @include tablet {
            --grid-columns: 1;
        }
    }

    &--3 {
        @include tablet {
            --grid-columns: 1;
        }
    }

    &--4 {
        @include tablet {
            --grid-columns: 3;
        }
        
        @include mobile {
            --grid-columns: 2;
        }
    }
}