@use '../media' as *;

.header {
    color: var(--color-light);
    font-size: 11px;
    text-transform: uppercase;

    &__inner {
        position: absolute;
        top: 25px;
        right: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile {
            flex-direction: column;
            align-items: start;
            row-gap: 18px;
        }
    }

    &__navigation {
        display: flex;
        align-items: center;
        column-gap: 90px;

        @include tablet {
            column-gap: 50px;
        }

        @include mobile {
            flex-direction: column;
            align-items: start;
            row-gap: 17px;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        column-gap: 16px;

        &:hover {
            color: var(--color-orange);
        }
    }

    &__menu {
        &-list {
            display: flex;
            column-gap: 24px;

            @include tablet {
                column-gap: 12px;
            }

            @include mobile {
                font-size: 11px;
                line-height: 100%;
                flex-direction: column;
                row-gap: 6px;
            }
        }

        &-link {
            &:hover {
                color: var(--color-orange);
            }
        }
    }

    &__search-form{
        @include mobile {
            width: 100%;
        }

        input {
            min-width: 248px;
            padding: 5px 10px 5px;
            font-size: 11px;
            color: var(--color-gray-dark);
            text-transform: uppercase;
            border: none;
            border-radius: 50px;
            background-color: var(--color-dark-alt);

            @include mobile {
                width: 100%;
            }

            &:focus {
                color: var(--color-orange);
                outline: 2px solid var(--color-orange);

                &::placeholder {
                    color: var(--color-orange);
                }
            }
        }
    }
}