@use '../media' as *;

.mobile-app {
    padding-top: var(--container-padding-y);
    margin-bottom: var(--container-padding-y);
    padding-bottom: 1px;

    @include mobile {
        padding-top: 98px;
        padding-bottom: 3px;
    }

    &__title {
        text-align: center;
        margin-bottom: 48px;

        @include mobile {
            margin-bottom: 46px;
        }
    }

    &__inner {
        display: flex;

        @include tablet {
            flex-direction: column;
            align-items: center;
            row-gap: 10px;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 16px;
        max-width: 600px;
        width: 100%;
        padding-block: 16px;

        @include mobile {
            max-width: 400px;
            padding-block: 7px 2px;
            row-gap: 0;

            p {
                margin-bottom: 16px;
            }
        }
    }

    &__image {
        margin-left: 20px;

        @include mobile {
            margin-left: 0;
        }

        &-container {
            display: flex;
            justify-content: center;
            max-width: 600px;
            width: 100%;

             @include tablet {
                order: -1;
            }
        }
    }

    &__button {
        font-size: 12.8px;
        color: var(--color-light);
        text-transform: none;
        padding: 16px 40px;
        max-width: 131px;
        border-radius: 32px;
        background-color: var(--color-red);

        &:hover {
            color: var(--color-dark);
            background-color: var(--color-orange);
        }
    }
}