@use '../media' as *;

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 17px;
    padding-bottom: 1px;

    @include mobile {
        margin-top: 17px;
    }

    &__title {
        margin-bottom: 48px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        row-gap: 64.5px;
    }
}