@use '../media' as *;

.news-card {
    display: flex;
    column-gap: 50px;

    @include desktop {
        flex-direction: column;
        row-gap: 50.5px;
    }

    @include desktop-above {
        &:nth-child(2) {
            flex-direction: row-reverse;
        }
    }
    
    &__title {
        font-size: 16px;
        text-transform: none;

        @include mobile-above {
            font-size: 30px;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-block: 30px 48px;

        @include mobile {
            margin-top: 16px;
            margin-bottom: 47.5px;
        }

        p {
            margin-bottom: 23px;
        }

        .modified-text {
            margin-bottom: 16px; 
        }
    }

    &__author {
        display: flex;
        align-items: center;
        column-gap: 16px;
        font-size: 12.8px;

        &-name {
            color: var(--color-orange);
            font-weight: 500;
        }
    }

    &__link {
        width: 134px;
        padding: 15.5px 25px 16px 30px;
        font-size: 12.8px; 
        border: 1px solid var(--color-gray-dark);

        @include mobile {
            margin-top: 0.6px;
        }

        &:hover{
            color: var(--color-dark);
            border: 1px solid var(--color-gray-dark);
            transform: scale(1.1);
        }
    }

    &:hover {
        box-shadow: 10px 10px 5px rgba(97, 57, 1, 0.5); 
    }
}