@use '../media' as *;

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    padding-bottom: 1px;

    @include mobile {
        margin-block: 17px -1px;
    }

    &__title {
        margin-bottom: 48px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        row-gap: 64.5px;
        
        @include mobile {
            row-gap: 65px;
        }
    }
}