@use '../media' as *;

.playlist-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50%;
        width: 0;
        height: 1px;
        background-color: var(--color-dark-alt);
        box-shadow: 0 -55px var(--color-dark-alt);
        transition-duration: 0.3s;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }

    @include mobile-above {
        max-width: 550px;
    }

    &__promo {
        display: flex;
        align-items: center;
        column-gap: 15px;
        font-size: 12.8px;

        &-text {
            display: flex;
            flex-direction: column;
        }
    }

    &__track-name {
        font-size: 12.8px;
        font-weight: 700;
    }

    &__track-duration {
        font-size: 12.8px;
    }
}