@use '../media' as *;

.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-light);

    &__rates {
        // display: flex;
        // align-items: start;
        // column-gap: 50px;
        padding-top: 48px;
        margin-bottom: 40px;

        @include tablet {
            flex-direction: column;
            row-gap: 50px;
        }
    }

    &__description {
        text-align: center;
    }
}