@use '../media' as *;

.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-light);

    @include mobile {
        margin-top: 1px;
    }

    &__rates {
        padding-top: 48px;
        margin-bottom: 40px;

        @include tablet {
            flex-direction: column;
            row-gap: 50px;
        }
    }

    &__description {
        text-align: center;
    }
}