.similar-artists {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    margin-bottom: var(--container-padding-y);
    column-gap: 49px;
    padding-right: 70px;
    padding-bottom: 1px;
}
