.similar-artists {
    display: flex;
    flex-direction: column;
    gap: 48px 49px;
    margin-bottom: var(--container-padding-y);
    padding-right: 70px;
    padding-bottom: 1px;
    margin-top: -1px;
}
