@use '../media' as *;

.subscribe {
    padding-block: 200px;
    text-align: center;
    color: var(--color-light);
    background-image: url('../images/banner.png');
    background-position: center;
    background-size: cover;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__description {
        display: inline-block;
        margin-top: 31px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        padding: 0;
        max-width: 570px;
    }

    &__field {
        display: flex;
        column-gap: 24px;


        @include mobile {
            display: inline-block;
        }
    }

    &__button {
        background-color: var(--color-green);
    }
}