@use '../media' as *;

.subscribe {
    padding-block: var(--container-padding-y-alt);
    text-align: center;
    color: var(--color-light);
    background-image: url('../images/banner.png');
    background-position: center;
    background-size: cover;

    @include mobile {
        padding-block: calc(var(--container-padding-y-alt) + 48px) calc(var(--container-padding-y-alt) + 1px);
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-left: 1px;
    }
    
    &__subtitle {
        margin-left: 1px;
    }

    &__description {
        display: inline-block;
        margin-top: 27px;

        @include mobile {
            margin-top: 16px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 570px;

        @include mobile {
            row-gap: 7px;
        }
    }

    &__field {
        display: flex;
        justify-content: space-between;
        column-gap: 24px;


        @include mobile {
            flex-direction: column;
            row-gap: 7px;
        }
    }

    &__button {
        font-size: 13.3px;
        background-color: var(--color-green);

        @include mobile {
            margin-top: 1px;
        }
    }
}