@charset "UTF-8";
@font-face {
  font-family: "Roboto sc";
  src: url(../fonts/Roboto-Bold.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto sc";
  src: url(../fonts/Roboto-Regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 18px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-dark: #08020D;
  --color-dark-alt: #3C3B3D;
  --color-gray: #E0E0E0;
  --color-gray-dark: #CACACA;
  --color-light: #FFFFFF;
  --color-green: #34C176;
  --color-orange: #F89202;
  --color-purple: #5328A1;
  --color-red: #95390C;
  --font-family-base: 'Roboto sc', sans-serif;
  --container-width: 1200px;
  --container-padding-x: 20px;
  --container-padding-y: 100px;
  --container-padding-y-alt: 200px;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}
.container:not(:first-child) {
  padding-top: var(--container-padding-y);
}

.active {
  font-weight: 700;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.uppercase {
  text-transform: uppercase;
}

body {
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-gray-dark);
  background-color: var(--color-dark);
  margin-inline: auto;
}
body::-webkit-scrollbar {
  width: 0;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: 0.2s;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2 {
  font-family: "Roboto sc", sans-serif;
  color: var(--color-light);
}

h3, h4 {
  font-weight: 400;
  color: var(--color-light);
}

h1 {
  font-size: clamp(1.875rem, 1.1184210526rem + 2.9239766082vw, 3.75rem);
}

h2 {
  font-size: clamp(1.125rem, 0.6206140351rem + 1.9493177388vw, 2.375rem);
}

h3 {
  font-size: clamp(1rem, 0.798245614rem + 0.7797270955vw, 1.5rem);
}

h4 {
  font-size: clamp(1.125rem, 0.8980263158rem + 0.8771929825vw, 1.6875rem);
}

.grid {
  --gridColumns: 1;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  column-gap: 50px;
  row-gap: 25px;
}
.grid--2 {
  --gridColumns: 2;
}
.grid--3 {
  --gridColumns: 3;
}
.grid--4 {
  --gridColumns: 4;
}
.grid--5 {
  --gridColumns: 5;
}
.grid--6 {
  --gridColumns: 6;
}
.grid--7 {
  --gridColumns: 7;
}
.grid--8 {
  --gridColumns: 8;
}
.grid--9 {
  --gridColumns: 9;
}
.grid--10 {
  --gridColumns: 10;
}
.grid--11 {
  --gridColumns: 11;
}
.grid--12 {
  --gridColumns: 12;
}
@media (max-width: 1023px) {
  .grid--2 {
    --gridColumns: 1;
  }
}
@media (max-width: 1023px) {
  .grid--3 {
    --gridColumns: 1;
  }
}
@media (max-width: 1023px) {
  .grid--4 {
    --gridColumns: 3;
  }
}
@media (max-width: 767px) {
  .grid--4 {
    --gridColumns: 2;
  }
}

.button {
  width: 100%;
  padding: 21px;
  text-transform: uppercase;
  color: currentColor;
  border: 0;
  border-radius: 5px;
}
.button:hover {
  background-color: var(--color-orange);
}
.button--play {
  background-color: var(--color-purple);
}
.button--to-favourite {
  background-color: var(--color-red);
}

.input {
  min-width: 274px;
  min-height: 50px;
  padding-left: 20px;
  color: var(--color-light);
  background-color: transparent;
  border: 2px solid var(--color-gray-dark);
  border-radius: 3px;
  margin-block: 1.25rem;
}
@media (max-width: 767px) {
  .input {
    width: 100%;
    margin-block: 1.02rem;
  }
  .input:last-child {
    margin-top: 0;
  }
}
.input::placeholder {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-light);
}
.input:focus {
  color: var(--color-dark);
  background-color: var(--color-light);
  outline: 2px solid var(--color-gray);
}
.input:focus::placeholder {
  color: var(--color-gray-dark);
}

.header {
  color: var(--color-light);
  font-size: 11px;
  text-transform: uppercase;
}
.header__inner {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .header__inner {
    flex-direction: column;
    align-items: start;
    row-gap: 18px;
  }
}
.header__navigation {
  display: flex;
  align-items: center;
  column-gap: 90px;
}
@media (max-width: 1023px) {
  .header__navigation {
    column-gap: 50px;
  }
}
@media (max-width: 767px) {
  .header__navigation {
    flex-direction: column;
    row-gap: 17px;
  }
}
.header__logo {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.header__logo:hover {
  color: var(--color-orange);
}
.header__menu-list {
  display: flex;
  column-gap: 24px;
}
@media (max-width: 1023px) {
  .header__menu-list {
    column-gap: 12px;
  }
}
@media (max-width: 767px) {
  .header__menu-list {
    flex-direction: column;
  }
}
.header__menu-link:hover {
  color: var(--color-orange);
}
@media (max-width: 767px) {
  .header__search-form {
    width: 100%;
  }
}
.header__search-form input {
  min-width: 248px;
  padding: 5px 10px 5px;
  font-size: 11px;
  color: var(--color-gray-dark);
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  background-color: var(--color-dark-alt);
}
@media (max-width: 767px) {
  .header__search-form input {
    width: 100%;
  }
}
.header__search-form input:focus {
  color: var(--color-orange);
  outline: 2px solid var(--color-orange);
}
.header__search-form input:focus::placeholder {
  color: var(--color-orange);
}

.subscribe {
  padding-block: var(--container-padding-y-alt);
  text-align: center;
  color: var(--color-light);
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}
@media (max-width: 767px) {
  .subscribe {
    padding-block: calc(var(--container-padding-y-alt) + 48px) calc(var(--container-padding-y-alt) + 2px);
  }
}
.subscribe__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__description {
  display: inline-block;
  margin-top: 27px;
}
@media (max-width: 767px) {
  .subscribe__description {
    margin-top: 16px;
  }
}
.subscribe__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 570px;
}
@media (max-width: 767px) {
  .subscribe__form {
    row-gap: 7px;
  }
}
.subscribe__field {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
}
@media (max-width: 767px) {
  .subscribe__field {
    flex-direction: column;
    row-gap: 7px;
  }
}
.subscribe__button {
  font-size: 13.3px;
  background-color: var(--color-green);
}
@media (max-width: 767px) {
  .subscribe__button {
    padding-block: 18px;
  }
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-light);
}
@media (max-width: 767px) {
  .pricing {
    margin-top: 1px;
  }
}
.pricing__rates {
  padding-top: 48px;
  margin-bottom: 40px;
}
@media (max-width: 1023px) {
  .pricing__rates {
    flex-direction: column;
    row-gap: 50px;
  }
}
.pricing__description {
  text-align: center;
}

.rate-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 1.5rem 0;
  border-radius: 1rem;
}
@media (max-width: 767px) {
  .rate-card {
    padding-block: 16px 0;
  }
}
.rate-card:hover {
  scale: 1.1;
  transition-duration: 0.5s;
}
.rate-card__title {
  margin-bottom: var(--container-padding-y-alt);
}
.rate-card__price {
  display: flex;
  justify-content: start;
  column-gap: 16px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .rate-card__price {
    margin-bottom: 39.5px;
  }
}
.rate-card__price-value {
  font-size: 64px;
  line-height: 1;
}
.rate-card__price-currency {
  font-size: 32px;
}
.rate-card__button {
  padding: 20px;
  border: 1px solid var(--color-light);
  background-color: transparent;
}
.rate-card__description {
  margin-block: 64px;
  font-size: 12.8px;
  text-align: center;
}
.rate-card--free {
  background-image: url("../images/Free Bg.png");
  background-position: center;
  background-size: cover;
}
@media (max-width: 767px) {
  .rate-card--free {
    background-image: url("../images/subscribe_1.png");
  }
}
.rate-card--standart {
  background-image: url("../images/Standart Bg.png");
  background-position: center;
  background-size: cover;
}
@media (max-width: 767px) {
  .rate-card--standart {
    background-image: url("../images/subscribe_2.png");
  }
}
.rate-card--premium {
  background-image: url("../images/Premium Bg.png");
  background-position: center;
  background-size: cover;
}
@media (max-width: 767px) {
  .rate-card--premium {
    background-image: url("../images/subscribe_3.png");
  }
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
  padding-bottom: 1px;
}
@media (max-width: 767px) {
  .news {
    margin-block: 17px;
  }
}
.news__title {
  margin-bottom: 48px;
}
.news__inner {
  display: flex;
  flex-direction: column;
  row-gap: 64.5px;
}

.news-card {
  display: flex;
  column-gap: 50px;
}
@media (max-width: 1280px) {
  .news-card {
    flex-direction: column;
    row-gap: 50px;
  }
}
@media (min-width: 1281px) {
  .news-card:nth-child(2) {
    flex-direction: row-reverse;
  }
}
.news-card__title {
  font-size: 16px;
  text-transform: none;
}
@media (min-width: 768px) {
  .news-card__title {
    font-size: 30px;
  }
}
.news-card__body {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.news-card__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-block: 30px 48px;
}
@media (max-width: 767px) {
  .news-card__description {
    margin-top: 16px;
  }
}
.news-card__description p {
  margin-bottom: 23px;
}
.news-card__description .modified-text {
  margin-bottom: 16px;
}
.news-card__author {
  display: flex;
  align-items: center;
  column-gap: 16px;
  font-size: 12.8px;
}
.news-card__author-name {
  color: var(--color-orange);
  font-weight: 500;
}
.news-card__link {
  width: 134px;
  padding: 16px 25px 16px 30px;
  font-size: 12.8px;
  border: 1px solid var(--color-gray-dark);
}
@media (max-width: 767px) {
  .news-card__link {
    width: 136px;
    padding-inline: 29px;
    margin-top: 0.7px;
  }
}
.news-card__link:hover {
  color: var(--color-dark);
  border: 1px solid var(--color-gray-dark);
  transform: scale(1.1);
}
.news-card:hover {
  box-shadow: 10px 10px 5px rgba(97, 57, 1, 0.5);
}

.mobile-app {
  padding-top: var(--container-padding-y);
  margin-bottom: var(--container-padding-y);
  padding-bottom: 1px;
}
.mobile-app__title {
  text-align: center;
  margin-bottom: 48px;
}
@media (max-width: 767px) {
  .mobile-app__title {
    margin-bottom: 46px;
  }
}
.mobile-app__inner {
  display: flex;
}
@media (max-width: 1023px) {
  .mobile-app__inner {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
}
.mobile-app__body {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 16px;
  max-width: 600px;
  width: 100%;
  padding-block: 16px;
}
@media (max-width: 767px) {
  .mobile-app__body {
    max-width: 400px;
    padding-block: 7px 2px;
    row-gap: 0;
  }
  .mobile-app__body p {
    margin-bottom: 16px;
  }
}
.mobile-app__image {
  margin-left: 20px;
}
@media (max-width: 767px) {
  .mobile-app__image {
    margin-left: 0;
  }
}
.mobile-app__image-container {
  display: flex;
  justify-content: center;
  max-width: 600px;
  width: 100%;
}
@media (max-width: 1023px) {
  .mobile-app__image-container {
    order: -1;
  }
}
.mobile-app__button {
  font-size: 12.8px;
  color: var(--color-light);
  text-transform: none;
  padding: 16px 40px;
  max-width: 131px;
  border-radius: 32px;
  background-color: var(--color-red);
}
.mobile-app__button:hover {
  color: var(--color-dark);
  background-color: var(--color-orange);
}

.footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
@media (max-width: 767px) {
  .footer {
    padding-bottom: 2px;
  }
}
.footer__inner {
  --gridColumns: 4;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  column-gap: 40px;
  padding-block: 62px 74px;
}
@media (max-width: 1023px) {
  .footer__inner {
    --gridColumns: 2;
    row-gap: 31px;
  }
}
@media (max-width: 767px) {
  .footer__inner {
    --gridColumns: 1;
    padding-block: 62px 66px;
  }
}
.footer__title {
  font-size: 18px;
  margin-bottom: 15px;
}
.footer__about-us {
  display: flex;
  flex-direction: column;
}
.footer__support {
  display: flex;
  flex-direction: column;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
}
.footer__contacts address {
  font-style: normal;
}
.footer__soc1al-list {
  display: flex;
  align-items: center;
  column-gap: 24px;
  padding-top: 5px;
}
.footer__link:hover {
  color: var(--color-orange);
}
.footer-extra {
  border-top: 1px solid var(--color-gray-dark);
}
.footer-extra__inner {
  display: flex;
  align-items: center;
  column-gap: 16px;
  padding-block: 2.6rem 2.9rem;
}
@media (max-width: 767px) {
  .footer-extra__inner {
    flex-direction: column;
    align-items: start;
    row-gap: 16px;
    padding-top: 40px;
  }
}
.footer-extra__link:hover {
  color: var(--color-orange);
}

.artist {
  padding-block: 200px;
  color: var(--color-light);
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}
.artist__inner {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 16px;
}
.artist__navigation {
  display: flex;
  column-gap: 24px;
  margin-top: 32px;
}
@media (max-width: 767px) {
  .artist__navigation {
    flex-direction: column;
    row-gap: 24px;
  }
}
.artist__button {
  display: flex;
  align-items: center;
  column-gap: 16px;
  font-size: 12.8px;
  width: 200px;
  padding-inline: 31px;
}
.artist__button svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.popular-tracks {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.playlist-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.playlist-card:hover::after {
  width: 100%;
}
.playlist-card::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 1px;
  background-color: var(--color-dark-alt);
  box-shadow: 0 -55px var(--color-dark-alt);
  transition-duration: 0.3s;
}
@media (min-width: 768px) {
  .playlist-card {
    max-width: 600px;
  }
}
.playlist-card__promo {
  display: flex;
  align-items: center;
  column-gap: 15px;
  font-size: 12.8px;
}
.playlist-card__promo-text {
  display: flex;
  flex-direction: column;
}
.playlist-card__track-name {
  font-size: 12.8px;
  font-weight: 700;
}
.playlist-card__track-duration {
  font-size: 12.8px;
}

.discography {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.album-card {
  max-width: 250px;
}
.album-card:hover {
  scale: 1.1;
}
.album-card__link {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 18px;
}
.album-card__name {
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
}

.similar-artists {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  margin-bottom: var(--container-padding-y);
}

.artist-card:hover {
  scale: 1.1;
}
.artist-card__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 18px;
}
.artist-card__promo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.artist-card__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
}
.artist-card__followers {
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
