@font-face {
    font-family: 'Roboto sc';
    src: url(../fonts/Roboto_SemiCondensed-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto sc';
    src: url(../fonts/Roboto_SemiCondensed-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}