@font-face {
    font-family: 'Roboto sc';
    src: url(../fonts/Roboto-Bold.woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto sc';
    src: url(../fonts/Roboto-Regular.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}