@use 'mixins' as *;

body {
    font-family: var(--font-family-base);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-gray-dark);
    background-color: var(--color-dark);

    margin-inline: auto;

    &::-webkit-scrollbar {
    width: 0;
    }
}

a,
button,
input,
textarea,
svg * {
    transition-duration: 0.2s;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2 {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-light);
}

h3, h4 {
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-light);
}

h1 {
    @include fluid-text(60, 30);
}

h2 {
    @include fluid-text(38, 18);
}

h3 {
    @include fluid-text(24, 16);
}

h4 {
    @include fluid-text(27, 18);
}