@use 'mixins' as *;

body {
    font-family: var(--font-family-base);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-gray-dark);
    background-color: var(--color-dark);
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2 {
    font-weight: 700;
    text-transform: uppercase
}

h1 {
    @include fluid-text(60, 43);
}

h2 {
    @include fluid-text(40, 36);
}

h3 {
    @include fluid-text(30, 26);
}

h4 {
    @include fluid-text(20, 18);
}