@use 'mixins' as *;

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);

    &:not(:first-child) {
        padding-top: var(--container-padding-y);
    }
}

.active {
    font-weight: 500;
}

.visually-hidden {
    @include visually-hidden
}
