:root {
    --color-dark: #08020D;
    --color-dark-alt: #3C3B3D;
    --color-gray: #E0E0E0;
    --color-gray-dark: #CACACA;
    --color-light: #FFFFFF;
    --color-green: #34C176;
    --color-orange: #F89202;
    --color-purple: #5328A1;
    --color-red: #95390C;


    --font-family-base: Roboto, sans-serif;

    --container-width: 1200px;
    --container-padding-x: 20px;
    --container-padding-y: 100px;
    --container-padding-y-alt: 200px;
}