@use 'fonts';
@use 'normalize';
@use 'mixins';
@use 'media';
@use 'variables';
@use 'utils';
@use 'general';

@use 'blocks/grid';
@use 'blocks/button';
@use 'blocks/input';
@use 'blocks/header';
@use 'blocks/subscribe';
@use 'blocks/pricing';
@use 'blocks/rate-card';
@use 'blocks/news';
@use 'blocks/news-card';
@use 'blocks/mobile-app';
@use 'blocks/footer';

@use 'blocks/artist';
@use 'blocks/popular-tracks';
@use 'blocks/playlist-card';
@use 'blocks/discography';
@use 'blocks/album-card';
@use 'blocks/similar-artists';
@use 'blocks/artist-card';