@use 'normalize';
@use 'fonts';
@use 'mixins';
@use 'media';
@use 'variables';
@use 'utils';
@use 'general';


@use 'blocks/button';
@use 'blocks/input';
@use 'blocks/header';
@use 'blocks/subscribe';
@use 'blocks/pricing';
@use 'blocks/rate-card';
@use 'blocks/news';
@use 'blocks/news-card';
@use 'blocks/mobile-app';
@use 'blocks/footer';

@use 'blocks/artist';